<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers">
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:if condition="{element.properties.elementDescription}">
            <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}"/>
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}"/>
        </f:if>

        <f:render arguments="{element: element}" contentAs="elementContent" partial="Field/Field">
            <f:form.textfield
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                aria="{aria}"
                class="{element.properties.elementClassAttribute} form-control form-control-lg"
                errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute} is-invalid"
                id="{element.uniqueIdentifier}"
                property="{element.identifier}"
                type="number"
            />
        </f:render>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
