<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{animationSettings}">
    <f:then>
        <f:asset.script identifier="aosJS" src="EXT:content_animations/Resources/Public/JavaScript/Vendor/AOS/aos-3.0.0-beta-6.min.js"/>
        <f:asset.script identifier="aosJS">
            AOS.init();
        </f:asset.script>
        <f:asset.css href="EXT:content_animations/Resources/Public/JavaScript/Vendor/AOS/aos.css" identifier="aosCSS"/>
    </f:then>
</f:if>
<div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.grid_bgfullsize, then: ' grid-fullsize')}{f:if(condition: data.grid_light, then: ' grid-light')}"{f:if(condition: animationSettings, then: ' {animationSettings -> f:format.raw()}')}>
<div class="container-wrapper {data.frame_class}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}{f:if(condition: '{data.grid_bottom_image} != 0', then: ' grid-silhouette grid-silhouette-{data.grid_bottom_image}')}">

<f:if condition="{data_bgimage}">
    <f:then>
        <div class="grid-bg{f:if(condition: data.grid_parallax, then: ' grid-parallax')}" style="{f:if(condition: data.grid_bgcolor, then: 'background-color:{data.grid_bgcolor}', else: 'background-color:transparent')}; background-image: url({f:uri.image(src: '{data_bgimage.0.properties.uid}', maxWidth: 1680, treatIdAsReference: '1') -> f:format.raw()}); background-position: left top; background-repeat: no-repeat; background-size: cover; height: 100%; position: absolute; width: 100%; left: 0; top: 0;"></div>
    </f:then>
    <f:else>
        <f:if condition="{data.grid_bgcolor}">
            <div class="grid-bg" style="{f:if(condition: data.grid_bgcolor, then: 'background-color:{data.grid_bgcolor}', else: 'background-color:transparent')}; height: 100%; position: absolute; width: 100%; left: 0; top: 0;"></div>
        </f:if>
    </f:else>
</f:if>

<f:if condition="{data.grid_imgbg}">
    <div class="grid-imgbg" style="background-color:{data.grid_bgcolor};width: 100%; height: 100%; position: absolute; opacity: 0.7; left: 0; top: 0;"></div>
</f:if>

{f:if(condition:'{data.grid_container} != 1', then:'<div class="container">')}
    <f:render section="Header" optional="true">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:render>
    <f:render section="Main" optional="true" />
    {f:if(condition:'{data.grid_container} != 1', then:'</div>')}
</div>
</div>
</html>
