<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<s:facet.area.group groupName="main" facets="{resultSet.facets}">
    <div class="container facets-container">
        <div class="row">
            <f:for each="{areaFacets}" as="facet" iteration="iterator">
                <f:if condition="{facet.name} != 'type'">
                    <div aria-labelledby="facet-{facet.name}" class="col-lg-4 col-xl-3">
                        <f:render partial="Facets/{facet.partialName}" arguments="{resultSet:resultSet, facet:facet}"/>
                    </div>
                </f:if>
            </f:for>
        </div>
    </div>
</s:facet.area.group>

</html>
