<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="">
    <div class="bg-white pt-2 pb-2 pt-lg-3 pb-lg-3">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-4 col-md-2">
                    <f:image class="logo" src="EXT:vms_sitepackage/Resources/Public/Images/BMDV.png" alt="Logo Bundesministerium für Digitales und Verkehr"/>
                </div>
                <div class="col-8 col-sm-7 offset-sm-1 col-md-6 offset-md-0">
                    <ul class="row d-flex justify-content-sm-end align-items-center list-unstyled">
                        <li class="col-4 col-lg-3 offset-lg-1">
                            <f:image class="logo" src="EXT:vms_sitepackage/Resources/Public/Images/dvw_Logo.svg" alt="Logo Deutsche Verkehrswacht e. V."/>
                        </li>
                        <li class="col-4 col-lg-3 offset-lg-1">
                            <f:image class="logo" src="EXT:vms_sitepackage/Resources/Public/Images/bast_Logo.svg" alt="Logo Bundesanstalt für Straßenwesen"/>
                        </li>
                        <li class="col-4 col-lg-3 offset-lg-1">
                            <f:image class="logo" src="EXT:vms_sitepackage/Resources/Public/Images/IfeS_logo.jpg" alt="Logo Institut für empirische Soziologie an der Friedrich-Alexander-Universität Erlangen-Nürnberg"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary pt-5 pb-4 pt-lg-9 pb-lg-6">
        <div class="container">
            <f:render partial="Footer.MetaNav" arguments="{_all}"/>
        </div>
    </div>
</div>
</html>
