<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <aside class="row row-border pt-3 pb-1">
        <div class="col-12">
            <div class="footer-socialmedia">
                <h2 class="visually-hidden">{f:translate(key: 'footer.socialmediaheader', extensionName: 'vms_sitepackage')}</h2>
                <ul class="row g-0 list-unstyled share">
                    <li class="col facebook">
                        <a aria-label="Facebook" href="https://www.facebook.com/digitaspixelpark" rel="noreferrer" target="_blank" title="{f:translate(key: 'opens', extensionName: 'vms_sitepackage')} Facebook {f:translate(key: 'innewwindow', extensionName: 'vms_sitepackage')}">
                            <span class="icon-share icon-facebook"></span>
                            <span class="visually-hidden">Facebook</span>
                        </a>
                    </li>
                    <li class="col linkedin">
                        <a aria-label="LinkedIn" href="https://www.linkedin.com/company/digitaspixelpark/" rel="noreferrer" target="_blank" title="{f:translate(key: 'opens', extensionName: 'vms_sitepackage')} Linkedin {f:translate(key: 'innewwindow', extensionName: 'vms_sitepackage')}">
                            <span class="icon-share icon-linkedin"></span>
                            <span class="visually-hidden">LinkedIn</span>
                        </a>
                    </li>
                    <li class="col instagram">
                        <a aria-label="Instagram" href="https://www.instagram.com/digitaspixelpark/" rel="noreferrer" target="_blank" title="{f:translate(key: 'opens', extensionName: 'vms_sitepackage')} Instagram {f:translate(key: 'innewwindow', extensionName: 'vms_sitepackage')}">
                            <span class="icon-share icon-instagram"></span>
                            <span class="visually-hidden">Instagram</span>
                        </a>
                    </li>
                    <li class="col twitter">
                        <a aria-label="Twitter" href="https://twitter.com/digitaspxp" rel="noreferrer" target="_blank" title="{f:translate(key: 'opens', extensionName: 'vms_sitepackage')} Twitter {f:translate(key: 'innewwindow', extensionName: 'vms_sitepackage')}">
                            <span class="icon-share icon-twitter"></span>
                            <span class="visually-hidden">Twitter</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

</html>