<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<div class="col-auto col-lg search-nav">
    <div class="d-flex justify-content-end align-items-center">
        <f:comment>
            <f:link.page class="nav-link search" pageUid="1" section="mobility-filter">
                <span class="visually-hidden">Zur Suche auf der Startseite</span>
            </f:link.page>
        </f:comment>
    </div>
</div>
</html>
