<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <nav class="col-auto col-lg main-menu-layer dropdown" aria-labelledby="mainmenu" id="main-menu">
        <button aria-expanded="false" aria-controls="menu" class="navbar-toggler" data-bs-boundary="scrollParent" data-bs-auto-close="outside" data-bs-display="static" data-bs-reference="parent" data-bs-toggle="dropdown" id="main-menu-button" title="{f:translate(key: 'header.openMenuT', extensionName: 'vms_sitepackage')}" type="button">
            <span class="line"></span>
            <span class="txt visually-hidden"><f:format.raw>{f:translate(key: 'header.openMenu', extensionName: 'vms_sitepackage')}</f:format.raw></span>
        </button>
        <div class="dropdown-menu" id="menu">
            <h2 class="visually-hidden" id="mainmenu">{f:translate(key: 'header.mainnavigation', extensionName: 'vms_sitepackage')}</h2>
            <div class="navbar-wrapper">
                <div class="meta-mobile" id="meta-mobile"></div>
                <div class="main-nav-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                                <f:format.raw>{navPrimary}</f:format.raw>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-meta-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                                <f:format.raw>{navPrimaryMeta}</f:format.raw>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</html>

