<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.header_layout} != 100">
	<f:if condition="{data.header_kicker} || {data.header} || {data.subheader} || {data.header_kicker} || {data.date}">
		<f:render partial="Header/Kicker" arguments="{
			kicker: data.header_kicker,
			layout: data.header_layout,
			positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position} \')}',
			default: settings.defaultHeaderType}" />
		<f:render partial="Header/Date" arguments="{
			date: data.date,
			positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position} \')}'}" />
		<f:render partial="Header/Header" arguments="{
			header: data.header,
			layout: data.header_layout,
			style: data.tx_header_style,
			positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position} \')}{f:if(condition: data.tx_header_style, then: data.tx_header_style)}',
			link: data.header_link,
			default: settings.defaultHeaderType}" />
		<f:render partial="Header/SubHeader" arguments="{
			subheader: data.subheader,
			kicker: data.header_kicker
			layout: data.header_layout,
			positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position} \')}',
			default: settings.defaultHeaderType}" />
	</f:if>
</f:if>
</html>

