<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Container" />

<f:section name="Main">
    <div class="row">
        <f:if condition="{children_101}">
            <div class="{data.columns_grid_col_1}">
                {f:render(partial: 'Column', arguments: '{content: children_101}') -> f:if(condition: children_101)}
            </div>
        </f:if>
        <f:if condition="{children_102}">
            <div class="{data.columns_grid_col_2}">
                {f:render(partial: 'Column', arguments: '{content: children_102}') -> f:if(condition: children_102)}
            </div>
        </f:if>
        <f:if condition="{children_103}">
            <div class="{data.columns_grid_col_3}">
                {f:render(partial: 'Column', arguments: '{content: children_103}') -> f:if(condition: children_103)}
            </div>
        </f:if>
        <f:if condition="{children_104}">
            <div class="{data.columns_grid_col_4}">
                {f:render(partial: 'Column', arguments: '{content: children_104}') -> f:if(condition: children_104)}
            </div>
        </f:if>
    </div>
</f:section>

</html>
